.main-container {
    background-color: #0a0a0a;
    color: white;
}

.hero {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
        url('../src/foto/Hero-section.svg') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
}


.hero-content {
    max-width: 800px;
    margin-bottom: 2rem;
}

.tags {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tag {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    font-size: 0.8rem;
    color: white;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary {
    background-color: #4A55FF;
    color: white;
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.section {
    padding: 2rem;
    background-color: #151318;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 6rem;
    margin-top: 1rem;
}

.movie-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    height: 170px;
    width: 300px;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 300px;
    height: 170px;
    object-fit: cover;
}

.movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.movie-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.movie-duration {
    font-size: 0.8rem;
    color: #aaa;
}

.age-rating {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
}