.container{
    overflow-x: hidden;
}

.section-title {
    font-size: 1.5rem;
    margin: 1rem;
    margin-top: 100px;
    margin-left: 20px;
}
.movie-row {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.movie-card {
    position: relative;
    min-width: 200px;
    height: 170px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}


.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-card:hover {
    transform: scale(1.05);
}

.badge {
    position: absolute;
    bottom: 0.1rem;
    left: 1.5rem;
    background: #4169E1;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.8rem;
}

.numbered-section {
    position: relative;
}

.movie-card-number {
    position: relative;
    width: 180px;
    height: 252px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    justify-content: center;
    justify-items: center;
}

.movie-card-number:hover {
    transform: scale(1.05);
}

.number {
    font-size: 8rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.scroll-button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 1rem;
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: black;
}

.movie-controls {
    display: flex;
    align-items: center;
}

